{
  "openapi": "3.1.0",
  "info": {
    "title": "Reqlick API",
    "description": "REST API for Reqlick — link shortening, QR codes, file-to-link, custom domains and analytics.\n\nAuthenticate with a workspace API key (`Authorization: Bearer rqk_...`), created under Settings → API Keys.\n\nA key is scoped to the single workspace it was created in. Using it against a different workspace returns 403, even when the owning user is a member of both.\n\nAPI access requires a paid plan.",
    "version": "3.0.0",
    "contact": { "name": "Reqlick Support", "email": "support@reqlick.com" }
  },
  "servers": [{ "url": "https://api.reqlick.com" }],
  "security": [{ "bearerAuth": [] }],
  "tags": [
    { "name": "Links" },
    { "name": "QR Codes" },
    { "name": "Documents" },
    { "name": "Domains" },
    { "name": "Workspaces" },
    { "name": "Users" },
    { "name": "Subscriptions" }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Workspace API key, prefixed `rqk_`."
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Invalid request",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
      },
      "Unauthorized": {
        "description": "Missing, malformed or revoked API key — or the plan no longer includes API access",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
      },
      "Forbidden": {
        "description": "Authenticated, but the key has no access to this workspace or resource",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" },
            "example": { "error": "This API key does not have access to this workspace" }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
      },
      "TooManyRequests": { "description": "Rate limit exceeded" },
      "ServerError": {
        "description": "Server error",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": { "error": { "type": "string" } },
        "required": ["error"]
      },
      "Link": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "domain": { "type": "string", "examples": ["rqk.sh"] },
          "key": { "type": "string", "description": "Short key. Combined with `domain` this forms the short URL." },
          "url": { "type": "string", "description": "Destination URL. Null for file links." },
          "title": { "type": "string" },
          "description": { "type": "string" },
          "image": { "type": "string" },
          "isActive": { "type": "boolean" },
          "isArchived": { "type": "boolean" },
          "isQR": { "type": "boolean" },
          "isFile": { "type": "boolean" },
          "expiresAt": { "type": "string", "format": "date-time" },
          "ios": { "type": "string", "description": "iOS-specific destination." },
          "android": { "type": "string", "description": "Android-specific destination." },
          "workspaceId": { "type": "string" },
          "documentId": { "type": "string" },
          "clicks": { "type": "integer" },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" }
        }
      },
      "LinkCreated": {
        "type": "object",
        "properties": {
          "link_id": { "type": "string" },
          "link_url": { "type": "string", "examples": ["rqk.sh/k5zvrg"] }
        }
      },
      "LinkStats": {
        "type": "object",
        "properties": {
          "clicks": { "type": "integer", "description": "Clicks in the requested window." },
          "uniqueClicks": { "type": "integer", "description": "Distinct visitors in the window." },
          "totalClicks": { "type": "integer", "description": "All-time clicks." },
          "averageVisitTime": {
            "type": "number",
            "description": "Average view duration in ms. Null when no duration was recorded — not zero."
          }
        }
      },
      "Document": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "file": { "type": "string", "description": "Storage key or URL." },
          "size": { "type": "integer", "description": "Bytes." },
          "type": { "type": "string" },
          "workspaceId": { "type": "string" },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" }
        }
      },
      "Domain": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "slug": { "type": "string", "description": "The domain name itself, e.g. `go.example.com`." },
          "verified": { "type": "boolean" },
          "primary": { "type": "boolean" },
          "target": { "type": "string", "description": "Root redirect destination." },
          "workspaceId": { "type": "string" },
          "lastChecked": { "type": "string", "format": "date-time" },
          "createdAt": { "type": "string", "format": "date-time" }
        }
      },
      "Workspace": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "slug": { "type": "string" },
          "url": { "type": "string", "description": "Same as `slug`; retained for backward compatibility." },
          "logo": { "type": "string" },
          "plan": { "type": "string" },
          "role": { "type": "string", "enum": ["OWNER", "ADMIN", "MEMBER"] },
          "isArchived": { "type": "boolean" },
          "createdAt": { "type": "string", "format": "date-time" }
        }
      },
      "Member": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "email": { "type": "string" },
          "role": { "type": "string", "enum": ["OWNER", "ADMIN", "MEMBER"] },
          "status": { "type": "string", "enum": ["ACCEPTED", "PENDING"] },
          "userId": { "type": "string" },
          "workspaceId": { "type": "string" }
        }
      },
      "Qrcode": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "linkId": { "type": "string" },
          "workspaceId": { "type": "string" },
          "createdAt": { "type": "string", "format": "date-time" }
        }
      },
      "QrcodeCreated": {
        "type": "object",
        "properties": {
          "qrcode_id": { "type": "string" },
          "link_id": { "type": "string" },
          "link_url": { "type": "string" }
        }
      },
      "Subscription": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "plan": {
            "type": "string",
            "enum": ["FREE", "STARTER", "PRO", "LEGACY_PRO", "BUSINESS", "ENTERPRISE", "LAUNCH_PASS"]
          },
          "amount": { "type": "number", "description": "In dollars." },
          "interval": { "type": "string", "enum": ["month", "year"] },
          "isPaid": { "type": "boolean" },
          "isPaymentFailed": { "type": "boolean" },
          "isCanceledAtPeriodEnd": { "type": "boolean" },
          "periodEnd": { "type": "string", "format": "date-time" },
          "trialEndsAt": {
            "type": "string",
            "format": "date-time",
            "description": "Null means no trial clock — the account does not expire."
          },
          "isTrial": { "type": "boolean" },
          "isTrialActive": { "type": "boolean" },
          "isTrialExpired": { "type": "boolean" },
          "trialDaysRemaining": { "type": "integer" },
          "shortLinksLimit": { "type": "integer" },
          "qrCodeLinksLimit": { "type": "integer" },
          "clicksLimit": { "type": "integer" },
          "domainsLimit": { "type": "integer" },
          "usersLimit": { "type": "integer" },
          "projectsLimit": { "type": "integer" },
          "stockableLimit": { "type": "integer" },
          "filesLimit": { "type": "integer" },
          "retentionLimit": { "type": "string" }
        }
      },
      "Usage": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "plan": { "type": "string" },
          "isPaid": { "type": "boolean" },
          "shortLinksUsage": { "type": "integer" },
          "shortLinksLimit": { "type": "integer" },
          "qrCodeLinksUsage": { "type": "integer" },
          "qrCodeLinksLimit": { "type": "integer" },
          "clicksUsage": { "type": "integer", "description": "Null when the analytics store is unavailable." },
          "clicksLimit": { "type": "integer" },
          "domainsUsage": { "type": "integer" },
          "domainsLimit": { "type": "integer" },
          "seatsUsage": { "type": "integer" },
          "usersLimit": { "type": "integer" },
          "projectUsage": { "type": "integer" },
          "projectsLimit": { "type": "integer" },
          "storageUsage": { "type": "integer", "description": "Bytes." },
          "filesUsage": { "type": "integer" },
          "filesLimit": { "type": "integer" },
          "retentionLimit": { "type": "string" }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "email": { "type": "string" },
          "name": { "type": "string" },
          "lastName": { "type": "string" },
          "image": { "type": "string" },
          "subscription": { "$ref": "#/components/schemas/Subscription" }
        }
      },
      "GeoStats": {
        "type": "object",
        "properties": {
          "total_views": { "type": "integer" },
          "list": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "label": { "type": "string", "description": "Resolved display name, e.g. `France`." },
                "shortCode": { "type": "string", "description": "ISO alpha-2 country code." },
                "country": { "type": "string", "description": "Present for region and city selectors." },
                "total_views": { "type": "integer" },
                "new_views": { "type": "integer", "description": "Distinct visitors." }
              }
            }
          }
        }
      }
    },
    "parameters": {
      "WorkspaceSlug": {
        "name": "url",
        "in": "path",
        "required": true,
        "description": "Workspace slug.",
        "schema": { "type": "string" }
      },
      "StartDate": {
        "name": "startDate",
        "in": "query",
        "description": "ISO date. Defaults to 30 days ago.",
        "schema": { "type": "string", "format": "date" }
      },
      "EndDate": {
        "name": "endDate",
        "in": "query",
        "description": "ISO date. Defaults to today. The window is half-open: the end day is included.",
        "schema": { "type": "string", "format": "date" }
      }
    }
  },
  "paths": {
    "/links/new/{workspace}": {
      "post": {
        "tags": ["Links"],
        "summary": "Create a link",
        "operationId": "createLink",
        "parameters": [
          {
            "name": "workspace",
            "in": "path",
            "required": true,
            "description": "Workspace slug.",
            "schema": { "type": "string" }
          },
          {
            "name": "subscriptionId",
            "in": "query",
            "required": true,
            "description": "Subscription ID that owns the workspace. Available from `GET /subscriptions`.",
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": { "type": "string", "description": "Destination URL." },
                  "domain": { "type": "string", "default": "rqk.sh" },
                  "key": { "type": "string", "description": "Custom short key. Generated when omitted." },
                  "title": { "type": "string" },
                  "description": { "type": "string" },
                  "image": { "type": "string" },
                  "file": { "type": "string", "format": "binary", "description": "Social card image." },
                  "expiresAt": { "type": "string", "format": "date-time" },
                  "password": { "type": "string" },
                  "ios": { "type": "string" },
                  "android": { "type": "string" },
                  "utm_source": { "type": "string" },
                  "utm_medium": { "type": "string" },
                  "utm_campaign": { "type": "string" },
                  "utm_term": { "type": "string" },
                  "utm_content": { "type": "string" }
                },
                "required": ["url"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/LinkCreated" } } }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": {
            "description": "No access to this workspace, or a plan limit has been reached",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "500": { "$ref": "#/components/responses/ServerError" }
        }
      }
    },
    "/links/{id}": {
      "get": {
        "tags": ["Links"],
        "summary": "Retrieve a link",
        "operationId": "getLink",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Link" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "delete": {
        "tags": ["Links"],
        "summary": "Delete a link",
        "description": "Archives the link. It stops resolving immediately and its analytics are retained.\n\nThe link **still appears in `GET /workspaces/{url}/links`** — the dashboard reads archived links back from there to offer Restore. Pass `?status=active` to that endpoint to exclude them.",
        "operationId": "deleteLink",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "200": {
            "description": "Deleted",
            "content": {
              "application/json": {
                "schema": { "type": "object", "properties": { "message": { "type": "string" } } }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/links/update": {
      "put": {
        "tags": ["Links"],
        "summary": "Update a link",
        "operationId": "updateLink",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": { "type": "string" },
                  "url": { "type": "string" },
                  "key": { "type": "string" },
                  "domain": { "type": "string" },
                  "title": { "type": "string" },
                  "description": { "type": "string" },
                  "image": { "type": "string" },
                  "expiresAt": { "type": "string", "format": "date-time" },
                  "password": { "type": "string" },
                  "ios": { "type": "string", "description": "Send an empty string to clear." },
                  "android": { "type": "string", "description": "Send an empty string to clear." }
                },
                "required": ["id"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Link" } } }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/links/{id}/status": {
      "put": {
        "tags": ["Links"],
        "summary": "Update link status",
        "description": "Activate, deactivate or archive a link.",
        "operationId": "updateLinkStatus",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "isActive": { "type": "boolean" },
                  "isArchived": { "type": "boolean" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Link" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/links/{id}/stats": {
      "get": {
        "tags": ["Links"],
        "summary": "Retrieve link analytics",
        "operationId": "getLinkStats",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } },
          { "$ref": "#/components/parameters/StartDate" },
          { "$ref": "#/components/parameters/EndDate" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/LinkStats" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/links/document": {
      "post": {
        "tags": ["Links"],
        "summary": "Create a link for a document",
        "description": "Creates an additional short link pointing at an existing uploaded file.\n\nOnly needed for a *second* link on a document — `POST /documents/{url}` already accepts `domain` and `key`, so a branded link can be created in one call at upload time.",
        "operationId": "createDocumentLink",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "documentId": { "type": "string", "description": "ID of the uploaded document." },
                  "workspace": {
                    "type": "string",
                    "description": "Workspace **slug**, not its ID. Sending an ID returns 422 \"workspace is required\"."
                  },
                  "domain": {
                    "type": "string",
                    "description": "Custom domain. Must already belong to the workspace, else 422. Defaults to rqk.sh."
                  },
                  "key": { "type": "string", "description": "Short key. Generated when omitted." }
                },
                "required": ["documentId", "workspace"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Link" } } }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      }
    },
    "/links/random": {
      "get": {
        "tags": ["Links"],
        "summary": "Generate an unused short key",
        "description": "Returns a random 6-character key that is not yet taken on the given domain.",
        "operationId": "getRandomKey",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "description": "Defaults to `rqk.sh`.",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "A short key",
            "content": { "application/json": { "schema": { "type": "string", "examples": ["k5zvrg"] } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/qrcodes/{url}": {
      "post": {
        "tags": ["QR Codes"],
        "summary": "Create a QR code",
        "operationId": "createQrcode",
        "parameters": [{ "$ref": "#/components/parameters/WorkspaceSlug" }],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": { "type": "string" },
                  "name": { "type": "string" },
                  "domain": { "type": "string" },
                  "key": { "type": "string" },
                  "bgColor": { "type": "string" },
                  "fgColor": { "type": "string" },
                  "logo": { "type": "string", "format": "binary" }
                },
                "required": ["url"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/QrcodeCreated" } } }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      }
    },
    "/documents": {
      "get": {
        "tags": ["Documents"],
        "summary": "Retrieve documents",
        "operationId": "listDocuments",
        "parameters": [
          {
            "name": "project",
            "in": "query",
            "required": true,
            "description": "Workspace slug. `workspaceId` is accepted as an alternative.",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Document" } }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "422": { "description": "Missing `project` or `workspaceId`" }
        }
      }
    },
    "/documents/{url}": {
      "post": {
        "tags": ["Documents"],
        "summary": "Create a document",
        "description": "Uploads a file and creates a file-to-link document in the workspace.\n\n**This also creates the short link.** Pass `domain` and `key` to control it — omit them and you get a random key on `rqk.sh`, which then needs a second link plus a delete to tidy up. These are **form fields, not query parameters**; query parameters are ignored.",
        "operationId": "createDocument",
        "parameters": [{ "$ref": "#/components/parameters/WorkspaceSlug" }],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": { "type": "string", "format": "binary", "description": "The file to upload." },
                  "name": { "type": "string", "description": "Display name. Defaults to the filename." },
                  "domain": {
                    "type": "string",
                    "description": "Custom domain for the generated link. Must already belong to the workspace, else 422. Defaults to `rqk.sh`. Send this to get a branded link in a single call."
                  },
                  "key": {
                    "type": "string",
                    "description": "Short key for the generated link. A random key is minted when omitted."
                  },
                  "title": { "type": "string" },
                  "description": { "type": "string" },
                  "card": { "type": "string", "format": "binary", "description": "Social card image." },
                  "password": { "type": "string" },
                  "expiresAt": { "type": "string", "format": "date-time" },
                  "ios": { "type": "string" },
                  "android": { "type": "string" }
                },
                "required": ["file"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Document" } } }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      }
    },
    "/documents/{id}": {
      "get": {
        "tags": ["Documents"],
        "summary": "Retrieve a document",
        "operationId": "getDocument",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Document" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "put": {
        "tags": ["Documents"],
        "summary": "Update a document",
        "operationId": "updateDocument",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string" },
                  "file": { "type": "string", "format": "binary" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Document" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "delete": {
        "tags": ["Documents"],
        "summary": "Delete a document",
        "description": "Also soft-deletes every link pointing at the file.",
        "operationId": "deleteDocument",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "200": { "description": "Deleted" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/documents/{id}/links": {
      "get": {
        "tags": ["Documents"],
        "summary": "Retrieve document links",
        "operationId": "getDocumentLinks",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Link" } }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/documents/{id}/stats": {
      "get": {
        "tags": ["Documents"],
        "summary": "Retrieve document analytics",
        "operationId": "getDocumentStats",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } },
          { "$ref": "#/components/parameters/StartDate" },
          { "$ref": "#/components/parameters/EndDate" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "totalClicks": { "type": "integer" },
                    "uniqueVisitorCount": { "type": "integer" },
                    "averageVisitTime": { "type": "number" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/domains/{slug}": {
      "get": {
        "tags": ["Domains"],
        "summary": "Retrieve domains",
        "description": "Lists custom domains for a workspace. Here `slug` is the **workspace** slug.",
        "operationId": "listDomains",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "Workspace slug.",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Domain" } }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "post": {
        "tags": ["Domains"],
        "summary": "Create a domain",
        "description": "Adds a custom domain to a workspace. Here `slug` is the **workspace** slug; the domain name goes in the body.",
        "operationId": "createDomain",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "Workspace slug.",
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "slug": { "type": "string", "description": "The domain name, e.g. `go.example.com`." },
                  "target": { "type": "string", "description": "Optional root redirect destination." }
                },
                "required": ["slug"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Domain" } } }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      },
      "delete": {
        "tags": ["Domains"],
        "summary": "Delete a domain",
        "description": "Removes a custom domain. Here `slug` is the **domain** name, not the workspace. Requires OWNER or ADMIN.",
        "operationId": "deleteDomain",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "Domain name, e.g. `go.example.com`.",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "description": "Deleted" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "description": "OWNER or ADMIN role required, or key scoped to another workspace" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/domains/{slug}/status": {
      "get": {
        "tags": ["Domains"],
        "summary": "Verify domain status",
        "description": "Checks DNS and TLS provisioning for a custom domain.",
        "operationId": "getDomainStatus",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "Domain name.",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "verified": { "type": "boolean" },
                    "status": { "type": "string" },
                    "lastChecked": { "type": "string", "format": "date-time" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/domains/{slug}/redirect": {
      "post": {
        "tags": ["Domains"],
        "summary": "Set domain root redirect",
        "description": "Sets where the domain's root URL sends visitors.",
        "operationId": "setDomainRedirect",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "Domain name.",
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": { "target": { "type": "string" } },
                "required": ["target"]
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Updated" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/workspaces/{url}": {
      "get": {
        "tags": ["Workspaces"],
        "summary": "Retrieve a workspace",
        "operationId": "getWorkspace",
        "parameters": [{ "$ref": "#/components/parameters/WorkspaceSlug" }],
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Workspace" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "put": {
        "tags": ["Workspaces"],
        "summary": "Update a workspace",
        "operationId": "updateWorkspace",
        "parameters": [{ "$ref": "#/components/parameters/WorkspaceSlug" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string" },
                  "slug": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Workspace" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "delete": {
        "tags": ["Workspaces"],
        "summary": "Delete a workspace",
        "description": "Requires the OWNER role.",
        "operationId": "deleteWorkspace",
        "parameters": [{ "$ref": "#/components/parameters/WorkspaceSlug" }],
        "responses": {
          "200": { "description": "Deleted" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "description": "OWNER role required, or key scoped to another workspace" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/workspaces/{url}/links": {
      "get": {
        "tags": ["Workspaces"],
        "summary": "Retrieve workspace links",
        "description": "By default this includes archived links, because deleting a link archives it rather than removing it. Pass `status=active` for the list most integrations expect.",
        "operationId": "listWorkspaceLinks",
        "parameters": [
          { "$ref": "#/components/parameters/WorkspaceSlug" },
          { "name": "page", "in": "query", "schema": { "type": "integer", "default": 1 } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 20 } },
          { "name": "search", "in": "query", "schema": { "type": "string" } },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by link state. `all` (the default) includes archived links.",
            "schema": { "type": "string", "enum": ["all", "active", "inactive", "archived"], "default": "all" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "links": { "type": "array", "items": { "$ref": "#/components/schemas/Link" } },
                    "total": { "type": "integer" },
                    "page": { "type": "integer" },
                    "limit": { "type": "integer" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/workspaces/{url}/qrcodes": {
      "get": {
        "tags": ["Workspaces"],
        "summary": "Retrieve QR codes",
        "operationId": "listWorkspaceQrcodes",
        "parameters": [
          { "$ref": "#/components/parameters/WorkspaceSlug" },
          { "name": "page", "in": "query", "schema": { "type": "integer", "default": 1 } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 20 } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "qrcodes": { "type": "array", "items": { "$ref": "#/components/schemas/Qrcode" } },
                    "total": { "type": "integer" },
                    "page": { "type": "integer" },
                    "limit": { "type": "integer" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/workspaces/{url}/members": {
      "get": {
        "tags": ["Workspaces"],
        "summary": "Retrieve workspace members",
        "operationId": "listWorkspaceMembers",
        "parameters": [{ "$ref": "#/components/parameters/WorkspaceSlug" }],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Member" } }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/workspaces/{url}/logo": {
      "put": {
        "tags": ["Workspaces"],
        "summary": "Update workspace logo",
        "operationId": "updateWorkspaceLogo",
        "parameters": [{ "$ref": "#/components/parameters/WorkspaceSlug" }],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": { "file": { "type": "string", "format": "binary" } },
                "required": ["file"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Uploaded",
            "content": {
              "application/json": {
                "schema": { "type": "object", "properties": { "url": { "type": "string" } } }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      }
    },
    "/workspaces/{url}/analytics/clicks": {
      "get": {
        "tags": ["Workspaces"],
        "summary": "Retrieve click totals",
        "operationId": "getWorkspaceClicks",
        "parameters": [{ "$ref": "#/components/parameters/WorkspaceSlug" }],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "totalClicks": { "type": "integer" } }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/workspaces/{url}/analytics/stats": {
      "get": {
        "tags": ["Workspaces"],
        "summary": "Retrieve geographic analytics",
        "description": "Country, region or city breakdown. Optionally scoped to a single link or document.",
        "operationId": "getWorkspaceGeoStats",
        "parameters": [
          { "$ref": "#/components/parameters/WorkspaceSlug" },
          { "$ref": "#/components/parameters/StartDate" },
          { "$ref": "#/components/parameters/EndDate" },
          {
            "name": "selector",
            "in": "query",
            "description": "Breakdown dimension.",
            "schema": { "type": "string", "enum": ["country", "region", "city"], "default": "country" }
          },
          { "name": "linkId", "in": "query", "description": "Scope to one link.", "schema": { "type": "string" } },
          {
            "name": "documentId",
            "in": "query",
            "description": "Scope to one document's links.",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/GeoStats" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/users/me": {
      "get": {
        "tags": ["Users"],
        "summary": "Retrieve the authenticated user",
        "operationId": "getCurrentUser",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "user": { "$ref": "#/components/schemas/User" } }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/users/usage": {
      "get": {
        "tags": ["Users"],
        "summary": "Retrieve usage",
        "description": "Usage and limits for the current billing period.",
        "operationId": "getUsage",
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Usage" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "description": "No subscription" }
        }
      }
    },
    "/subscriptions": {
      "get": {
        "tags": ["Subscriptions"],
        "summary": "Retrieve subscription",
        "description": "Plan, billing state and effective limits for the authenticated user.",
        "operationId": "getSubscription",
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Subscription" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "500": { "$ref": "#/components/responses/ServerError" }
        }
      }
    }
  }
}
